# Core
Django[argon2]==5.2.7
psycopg[binary,pool]==3.2.11

# Langchain
langchain==0.3.27
langchain-community==0.3.31

# REST API
fastapi==0.118.3
uvicorn==0.37.0

# GraphQL
graphene==3.4.3
graphene-django==3.2.3

# Ollama
ollama==0.6.0

